<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="ShopBanAoKhoacEntities" connectionString="metadata=res://*/DAL_Database.csdl|res://*/DAL_Database.ssdl|res://*/DAL_Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ShopBanAoKhoac;user id=sa;password=123456;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="ShopAoKhoacEntities" connectionString="metadata=res://*/DAL_Database.csdl|res://*/DAL_Database.ssdl|res://*/DAL_Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ShopBanAoKhoac;user id=sa;password=123456;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="DAL.Properties.Settings.ShopBanAoKhoacConnectionString"
          connectionString="Data Source=.;Initial Catalog=ShopBanAoKhoac;User ID=sa;Password=123456;Encrypt=True;TrustServerCertificate=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>